name: Node.js build

on:
    push:
        branches: ['**']
    pull_request:
        branches: ['**']

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Setup pnpm
              uses: pnpm/action-setup@v4
            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '25'
                  cache: 'pnpm'
            - run: pnpm install --frozen-lockfile
            - run: pnpm run typecheck
            - run: pnpm run build
            - run: pnpm run lint
